{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <img src="{{ object.real_img.url }}" alt="I hope this shows" width="400">
    </div>
    <div class="col-md-6 well well-sm">
        <h2>{{ object.title }}</h2>

        {% if 'statue' in object.title %}
            <h4>Sculpted marble</h4>
        {% elif 'painting' in object.title %}
            <h4>Acrylic on canvas</h4>
        {% endif %}

        <p style="margin-top: 50px;">{{ object.description }}</p>
        <p>Gracious gift from "Crazy Redd"</p>
        <p style="margin-bottom: 50px;">2018</p> <!-- {{ object.date_aquired }} -->
    </div>
</div>

{% endblock %}